# Archivo .gitignore para proyectos de Quarto y Python

# ################ #
# Archivos de Quarto
# ################ #

# Carpeta de caché y metadatos de Quarto
/_quarto/

# Carpeta de caché de ejecución ("freeze")
/_freeze/

# Otras carpetas de caché
/*_cache/

# Archivos de salida generados por Quarto.
# ¡OJO! La línea de abajo está comentada a propósito.
# Descoméntala si NO quieres subir los HTML a tu repositorio.
# Para GitHub Pages, necesitas que esta línea esté comentada.
# *.html
#*.pdf
*.docx
#*.epub


# ############################ #
# Archivos de Python y Jupyter
# ############################ #

# Carpetas de caché de Python
__pycache__/
.ipynb_checkpoints/

# Archivos de Python compilados
*.pyc

# Entornos virtuales
.venv/
venv/
env/


# ################# #
# Archivos de SO/IDE
# ################# #

# macOS
.DS_Store

# Windows
Thumbs.db

# VS Code
.vscode/
/.quarto/
